/* resources/css/app.css */

/* Importar Bootstrap */
@import 'bootstrap';

/* Estilos personalizados para AdminLTE */
.wrapper {
    height: 100vh;
}

.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    z-index: 1030;
}

.content-wrapper {
    margin-left: 250px;
    padding-top: 56px;
}

.main-footer {
    margin-left: 250px;
}

@media (max-width: 768px) {
    .main-sidebar {
        width: 0;
    }
    
    .content-wrapper, .main-footer {
        margin-left: 0;
    }
}

.table-responsive {
    overflow-x: auto;
}

/* Estilos para los modales */
.modal.show {
    display: block;
    background-color: rgba(0,0,0,0.5);
}

.modal-dialog {
    position: relative;
    margin: 1.75rem auto;
    max-width: 500px;
}
